.logo {
  font-family: $font-family-sec;
  @include font-w_font-s_line-h_letter-sp(700, 26px, 1.19);
  font-style: normal;
  color: $active-color;
  padding: 20px 0;
  margin-right: 93px;
}
/* ____ logo second part */
// header
.logo--dark {
  color: $accent-color;
}
// footer
.logo--white {
  color: $third-color;
}
