.logo {
  @include font-w_font-s_line-h_letter-s(700, 26px, 1.19);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  color: var(--active-color);
  margin-right: 93px;
}
.dark {
  /* second part logo */
  color: var(--accent-color);
}
