.our-job {
  padding-top: 94px;
  padding-bottom: 94px;

  .job-title {
    @include font-w_font-s_line-h_letter-s(700, 36px, 1.16);
    font-style: normal;
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    text-align: center;
    // letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 50px;
  }
}

.job-list {
  display: flex;

  .list-item {
    width: 370px;
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .list-text {
    @include font-w_font-s_line-h_letter-s(700, 14px, 1.14);
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 370px;
    height: 70px;
    padding: 27px;

    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    text-align: center;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--third-color);
  }
}
