:root {
  --accent-color: #212121; /* navigation, titles */
  --second-color: #757575; /* contact list, text*/
  --active-color: #2196f3; /* first part logo, hover and focus, button bg */
  --third-color: #ffffff; /* background */
  --hero-footer-bgcolor: #2f303a;
  --bgcolor-second: #f5f4fa; /* bg color cection(our team) and portfolio buttons*/
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
